<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head::headFragment"></head>

<body class="container-fluid">

<div class="m-3 d-grid gap-2 justify-content-md-center">
    <br/>
    <h1>주문 관리 페이지</h1>
</div>

<div class="container">
    <form class="m-3" th:action="@{/orders/query}" th:method="post">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <div class="form-floating">
                <select id="filterUserType" name="type" class="form-select">
                    <option value="ALL" selected>ALL</option>
                    <option value="ACCEPTED">ACCEPTED</option>
                    <option value="CANCELED">CANCELED</option>
                </select>
                <label for="filterUserType">주문 상태</label>
            </div>

            <div class="form-floating">
                <input class="form-select" type="date" name="from" id="startDate">
                <label for="startDate">FROM</label>
            </div>
            <div class="form-floating">
                <input class="form-select" type="date" name="to" id="endDate">
                <label for="endDate">TO</label>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <button class="btn btn-outline-dark btn-lg" type="submit">검색</button>
            </div>
        </div>
    </form>

    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">주문번호</th>
            <th scope="col">이메일</th>
            <th scope="col">주소</th>
            <th scope="col">주문상태</th>
            <th scope="col">주문목록</th>
            <th scope="col">주문시각</th>
            <th scope="col">결제금액</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order :${orders}" th:object="${order}" >
            <td th:text = "${orderStat.index}+1"></td>
            <td th:text = "*{id}"></td>
            <td th:text = "*{email}"></td>
            <td th:text = "*{address}"></td>
            <td th:text = "*{orderStatus}"></td>
            <td>
                <a th:href="@{/orders/{param1}(param1=*{id})}">자세히보기</a>
            </td>
            <td th:text = "*{createdAt}"></td>
            <td th:text = "|*{totalPrice} 원|"></td>

            <td th:if="${#strings.equals(order.orderStatus, 'ACCEPTED')}" th:with="id=*{id}">
                <form th:action="@{/orders/{param1}(param1=${order.id})}" th:method="put">
                    <input type="hidden" name="_method" value="put"/>
                    <button type="submit" class="btn btn-outline-warning btn">취소</button>
                </form>
            </td>

            <td th:if="${#strings.equals(order.orderStatus, 'CANCELED')}" th:with="id=*{id}">
                <form th:action="@{/orders/{param1}(param1=${id})}" th:method="delete">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" class="btn btn-outline-danger btn">삭제</button>
                </form>
            </td>
        </tr>
        </th:each>
        </tbody>
    </table>
    <br/>
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <a th:href="@{/}" class="btn btn-outline-success me-md-2 btn-lg" type="button">뒤로가기</a>
    </div>
</div>

</body>
</html>